* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'BuenosAires';
}


/* navbar */





/* step-1-section */


.stepOneSection {
  margin: 100px auto 20px;
  padding: 2rem;
  background: #fff;
}

.stepOneHeader {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 1rem; 
  margin-bottom: 2rem;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.stepOneHeader span {
  font-weight: 700;
  font-weight: bold;
  font-size: 16px;
  color:#424242;
  white-space: nowrap; 
}

.stepProgressBar {
  background: #e5e5e5;
  height: 7px;
  border-radius: 4px;
  overflow: hidden;
  flex: 1; 
}

.stepProgress {
  background: #287781;
  width: 12.5%; 
  height: 100%;
  transition: width 0.3s ease;
}


.stepOneContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
}


.stepOneLeftCol{
  background-image: url('/Palak/images/loanRequest/currency/step1.jpg');
  height:568px;
  padding: 86px 64px 86px 64px;
  backdrop-filter: blur(5px);
}

.stepOneLeftColContent{
top:93px;
left: 36px;
padding: 42px 20px 42px 20px;
backdrop-filter: blur(30px);
height:400px;
background: linear-gradient(114.9deg, rgba(255, 255, 255, 0.087) 0%, rgba(153, 153, 153, 0.075) 98.35%);
border: 1px solid;
border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, #666666 100%);
}

.stepOneLeftColHeader {
  font-size: 34px;
  font-weight: bold;
  font-weight: 700;
  margin-bottom: 34px;
  color:black;
}

.stepOneLeftColSubHeader {
  font-size: 16px;
  font-weight: 600;
 margin-bottom: 34px;
  color:black;
}

.stepOneLeftColInfo {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  color:black;
  font-weight: 600;
  font-size: 16px;
}

.stepOneLeftColInfo img {
  width: 120px;
  height: 58px;
}

/* right col */

.stepOneRightCol{
  height:450px;
  padding: 86px 48px 86px 48px;
}

.stepOneRightColHeader {
  font-size: 24px;
  font-weight: bold;
  font-weight: 700;
  color:#424242;
  margin-bottom: 17px;
  width: 100%;
}

.stepOneSelectOptionHeader {
  font-size: 16px;
  font-weight: 400;
  color:#424242;
  margin-bottom: 62px;
}


.selectOneOptionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.selectOneOption {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 22px 36px;
  border: 2px solid #ccc;
  border-radius: 12px;
  border: 0.2px solid #424242;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  margin-bottom: 30px;
}

.selectOneOption img {
   width:30px;
  height:30px;
  object-fit: contain;
}

.selectOneOption span {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: center;
}


.selectOneOption.active {
  background:#59898E33;
  border: 1px solid #287781;
  transform: translateY(-3px);
}

.selectOneOption.active span {
  color: #287781;
}
.selectOneOption.clicked span {
  color: #287781;
}

.stepOneNextBtn:disabled {
color: #287781;             
  cursor: not-allowed;    
  opacity: 0.6;            
  border: 0.2px solid #287781;
  background: #59898E33;
  border-radius: 12px;
}

.stepOneNextBtn {
  background: linear-gradient(90deg, #195057 0%, #4ED0E1 100%);
  color: #fff;
  padding: 0.8rem;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  border: 0.2px solid #287781;
}


@media (max-width: 768px) {

  .stepOneSection {
  padding: auto;
  background: #fff;
}

.stepOneHeader {
  padding: 5px;
  margin-bottom: 20px;
}

.stepOneHeader span {
  font-weight: 600;
  font-size: 10px;
}

.stepOneContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .stepOneLeftCol {
    display: none;
  }

  .stepOneRightCol{
  height:auto;
  width: 100%;
  padding: 5px 5px;
}

.stepOneRightColHeader {
  text-align: center;
  margin-bottom: 17px;
  width: 100%;
}

.stepOneSelectOptionHeader {
  font-size: 12px;
  margin-bottom: 32px;
  text-align: center;
}

.selectOneOptionContainer {
  gap: 2rem;
  margin-bottom: 20px;
}

.selectOneOption {
  padding: 10px 36px;
}

.selectOneOption img {
  width:20px;
  height:20px;
  object-fit: contain;
}

.selectOneOption span {
  font-size: 12px;
  white-space:nowrap;
}

.stepOneNextBtn {
  font-size: 12px;
}
}



/* footer */




/* chatbot */
