* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'BuenosAires';
}




/* navbar */




/* step-1-section */


.stepOneSection {
  margin: 100px auto 20px;
  padding: 2rem;
  background: #fff;
}

.stepOneHeader {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 1rem; 
  margin-bottom: 2rem;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.stepOneHeader span {
  font-weight: 700;
  font-weight: bold;
  font-size: 16px;
  color:#424242;
  white-space: nowrap; 
}

.stepProgressBar {
  background: #e5e5e5;
  height: 7px;
  border-radius: 4px;
  overflow: hidden;
  flex: 1; 
}

.stepProgress {
  background: #287781;
  width: 25%; 
  height: 100%;
  transition: width 0.3s ease;
}


.stepOneContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
}


.stepOneLeftCol{
  background-image: url('/Palak/images/loanRequest/dollarQuestions/step2-8.jpg');
  height:568px;
  padding: 80px 60px 80px 60px;
  backdrop-filter: blur(5px);
}

/* right col */

.stepOneRightCol{
height:568px;
}

.stepInfoLabel{
  text-align: center;
  align-items: center;
  padding: 32px 64px;
  border-radius: 20px;
  background-color:#287781 ;
  color:#fff;
  font-weight: 700;
  font-weight: bold;
  font-size: 24px;
  height: 93px;
  margin-bottom: 50px;
}

.stepOneRightColHeader {
  font-size: 24px;
  font-weight: bold;
  font-weight: 700;
  color:#424242;
  margin-top: 100px;
  margin-bottom: 17px;
  width: 100%;
}

.stepOneSelectOptionHeader {
  font-size: 16px;
  font-weight: 400;
  color:#424242;
  margin-bottom: 40px;
}


.custom-dropdown {
    width: 565px;
    position: relative;
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    color: #000000;
    /* opacity: 0.8; */
    z-index: 10;
    margin-top: 10px;
    margin-bottom: 15px;
}

.custom-dropdown .dropdown-trigger {
    background: #fff;
    border: 1px solid #ccc;
    padding: 18px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-dropdown .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 230px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9999;
    flex-direction: column;
}

.custom-dropdown .dropdown-option {
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    transition: background 0.2s ease;
}

.custom-dropdown .dropdown-option:hover {
    background: #59898E33;
    color: #287781;
}

.custom-dropdown.open .dropdown-options {
    display: flex;
}

.custom-dropdown .dropdown-options,
.additional-dropdown .dropdown-options {
    display: none;
}

.custom-dropdown.active .dropdown-options,
.additional-dropdown.active .dropdown-options {
    display: flex;
}



 .stepBtnContainer{
    display: flex;
    gap: 5px;
      margin-top: 100px;
  }

  .stepTwoNextBtn:disabled {
color: #287781;             
  cursor: not-allowed;    
  opacity: 0.6;            
  border: 0.2px solid #287781;
  background: #59898E33;
  border-radius: 12px;
}

.stepPrevBtn,
.stepTwoNextBtn {
  color:#fff;
  background: linear-gradient(90deg, #195057 0%, #4ED0E1 100%);
  padding: 0.8rem;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  border: 0.2px solid #287781;
}


/* Mobile view */
@media (max-width: 768px) {
  .stepOneHeader {
    padding: 10px;
    margin-bottom: 20px;
  }

  .stepOneHeader span {
    font-weight: 600;
    font-size: 10px;
  }

 
  .stepOneContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .stepOneLeftCol {
    display: none;
  }

  .stepOneRightCol {
    height: auto;
    width: 100%;
    padding: 10px;
  }

  .stepInfoLabel{
    margin-bottom: 10px;
     text-align: center;
  align-items: center;
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 16px;
  height: 55px;
  }

  .stepOneRightColHeader {
    text-align: center;
    margin-bottom: 17px;
    margin-top: 20px;
  }

  .stepOneSelectOptionHeader {
    font-size: 12px;
    margin-bottom: 32px;
    text-align: center;
  }

 .custom-dropdown {
    width: 100%;
}

 .stepBtnContainer{
    display: flex;
    gap: 5px;
      margin-top: 20px;
  }

   .stepPrevBtn,
  .stepTwoNextBtn {
    font-size: 12px;
  }
}




/* footer */




/* chatbot  */
