* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans';
}



/* navbar */



/* country-select-section */
.countrySelectSection {
  margin: 100px auto 20px;
  padding: 2rem;
  background-color: #fff;
}

.countrySelectHeader {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  font-weight: bold;
  color: #424242;
  margin-bottom: 0.5rem;
}

.countrySelectSubHeader {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #424242;
  margin-bottom: 2rem;
}

.countrySelectContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding:30px;
}

.countrySelectCard {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.countrySelectCard:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

.countrySelectImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.countrySelectBtn {
  position: relative;              
  background-color: #287781;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border: none;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;         
  cursor: pointer;
  transition: background 0.3s ease;
  padding: 8px 36px 8px 16px;      
}

.countrySelectBtn img {
  position: absolute;              
  right: 20px;                    
  width: 33px;
  height: 60px;
}

.countrySelectBtn:hover {
  background-color: #1f5c65;
}


@media (max-width: 768px) {

    .countrySelectHeader {
  font-size: 24px;
}

.countrySelectSubHeader {
  font-size: 12px;
}

  .countrySelectContainer {
    grid-template-columns: 1fr;
  }

  .countrySelectImg {
  height: 150px;
}

.countrySelectBtn {
   font-size: 24px;
  height: 57px;
}

.countrySelectBtn img {
  width: 21px;
  height: 42px;
}
}




/* footer         */




/* chatbot */
