* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'BuenosAires';
}


/* navbar */



/* hero  */

.hero {
  margin: 100px auto 20px;
  position: relative;
  color: white;
  display: flex;
}

.hero-left-half {
  width: 50%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
 background: linear-gradient(89.07deg, rgba(0, 0, 0, 0.71) 36.56%, rgba(102, 102, 102, 0) 99.23%);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-route {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ccc;
}


.hero-mini-heading {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, #666666 100%);
  background-color: #FFFFFF1A;
  border-radius: 10px;
  padding: 10px;
  height: 44px;
  width: 300px;
  text-wrap: nowrap;
  margin-top: 20px;
}

.hero-mini-heading img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}


.hero-heading {
  font-size: 55px;
  font-weight: 700;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 60px;
}


.hero-para {
  font-size: 24px;
  line-height: 1.5;
  color: #FAFAFA;
  margin-bottom: 40px;
  font-weight: 400;
}


.hero-btn {
  background: linear-gradient(90deg, #195057 0%, #4ED0E1 100%);
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;                  
  width: 100%;
}

.hero-btn img{
   width: 10px;
  height: 10px;
  margin-left: 8px;
}


.hero-facts {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap; 
  margin-top: 20px;
  margin-bottom: 10px;
}

.fact-item {
  text-align: left;
  min-width: 120px;
}

.fact-top {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.fact-top img {
  width: 20px;
  height: 20px;
}

.fact-bottom {
  font-size: 14px;
  color: #ccc;
}

.desktop-only {
  display: block;
}
.mobile-only {
  display: none;
}



@media (max-width: 768px) {
   .hero {
    position: relative; 
     background-image: url('/Palak/images/loanRequest/noCosigner/hero/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    height: 374px;
  }

  .hero-left-half {
    position: absolute; 
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    box-sizing: border-box;
     background: linear-gradient(89.07deg, rgba(0, 0, 0, 0.71) 36.56%, rgba(102, 102, 102, 0) 99.23%);
  }

  .hero-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  .hero-route{
    font-size: 10px;
    font-weight: 600;
    padding-top: 2%;
    margin-bottom: 4px;
  }

  .hero-mini-heading {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fafafa;
    background-color: #ffffff1a;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    font-size: 10px;
    font-weight: 500;
    height: 30px;
  }

  .hero-mini-heading img {
    height: 14px;
    width: auto;
  }

  .hero-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero-heading span {
     font-weight: bold;
    font-size: 24px;
    font-weight: 700;
  }

  .hero-para {
    width: 100%;
    line-height: 1.4;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
  }

  .hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    padding: 5px ;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    height: 30px;
    width: 50%;
  }

  .hero-btn img {
    height: 12px;
    width: auto;
  }

   .hero-facts {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin-top: 1px;
    padding: 5px;
    border-radius: 6px;
    flex-wrap: nowrap; 
    width: 80%;
  }

  .fact-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
  }

  .fact-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 700;
  }

  .fact-top img {
    height: 16px;
    width: auto;
  }

  .fact-bottom {
    margin-top: 4px; 
    font-weight: 700;
    font-size: 12px;
    color:#fff;
  }

  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}



/* bestBank */

.bestBanksSection {
  padding: 60px 20px;
  background: #fff;
}

.bestBanksHeader {
  font-size: 34px;
  font-weight: 700;
  color: #424242;
  text-align: center;
  margin-bottom: 10px;
}

.bestBankSubHeader {
  font-size: 24px;
  font-weight: 400;
  color: #424242;
  text-align: center;
  line-height: 35px;
  margin: 18px auto 40px;
}

.bestBankCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}


.bestBankCard {
  background: #fafafa;
  border: 0.2px solid var(--Teal-05, #287781);
  box-shadow: 0px 4px 4px 0px #0000001A;
  border-radius: 12px;
  padding: 20px 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bestBankCard:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 14.3px 0px #59898EAB;

}

.bestBankImg {
  height: 90px;
  margin-bottom: 20px;
}

.bestBankDesc {
  font-size: 16px;
  font-weight: 400;
  color: #424242;
  margin-bottom: 10px;
  text-align: center;
}

.bestBankInterestRate {
  font-weight: 700;
  font-size: 16px;
  color: #424242;
  margin-bottom: 20px;
}


.bestBankBtnContainer {
  display: flex;
  gap: 11px;
}

.bestBankKnowMoreBtn,
.bestBankApplyNowBtn {
  height: 33px;
  padding: 10px;
  border-radius: 7px;
  gap: 10px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  text-align: center;
}

.bestBankKnowMoreBtn {
  background: linear-gradient(90deg, #195057 0%, #4ED0E1 100%);
  color: #fff;
}

.bestBankApplyNowBtn {
  border: 1px solid var(--Teal-05, #287781);
  background: #fff;
  color: #287781;
}




@media (max-width: 768px) {
  .bestBanksHeader {
  font-size: 20px;
}

.bestBankSubHeader {
  font-size: 14px;
}

  .bestBankCardContainer {
    grid-template-columns: 1fr;
  }

  
.bestBankCard {
  background: #fafafa;
  border: 0.2px solid var(--Teal-05, #287781);
  box-shadow: 0px 4px 4px 0px #0000001A;
  border-radius: 12px;
  padding: 20px 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

}



/* exploreMore-section */

.exploreMore-section {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.exploreMoreHeader {
 font-size: 34px;
 font-weight: 700;
  font-weight: bold;
  color: #424242;
  margin-bottom: 40px;
  max-width: 1200px;
  padding: 5px 5px;
}



.searchFilterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 16px 20px;
  border-radius: 8px;
  flex-wrap: wrap; 
  margin-bottom: 40px;
}


.farLeftGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}


.farLeftsearchBox {
  position: relative;
  display: flex;
  align-items: center;
  
}

.searchIcon {
  position: absolute;
  left: 10px;
  width: 18px;
  height: 18px;
  color: #666;
}

.searchInput {
  padding: 8px 12px 8px 36px; 
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  min-width: 220px;
  transition: border-color 0.3s;
  min-width: 700px;
}

.searchInput:focus {
  outline: none;
  border-color: #287781;
}


.farLeftsearchBtn {
  background: #287781;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s;
}

.farLeftsearchBtn:hover {
  background: #1f5d64;
}

.farRightFilterBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #287781;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s;
}

.farRightFilterBtn:hover {
  background: #1f5d64;
}


@media (max-width: 600px) {
  .searchFilterContainer {
    flex-direction: column;
    align-items: stretch;
  }

  .farLeftGroup {
    width: 100%;
    justify-content: space-between;
  }

  .searchInput {
    flex: 1;
    min-width: auto;
  }

  .farRightFilterBtn {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}


.exploreMoreCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.exploreMoreCard {
  background: #FAFAFA;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  border-top: 5px solid #287781;
}

.exploreMoreCard:hover {
  border: 5px solid #287781;
  transform: scale(1.02);
}

.hiddenCard {
  display: none;
}

.viewMoreexploreMoreBtn{
  margin-top: 40px;
  padding: 10px 10px;
  width: 143px;
  background: linear-gradient(90deg, #195057 0%, #4ED0E1 100%);
  color: #fff;
  border-radius: 10px;
  font-weight: 700;
  font-weight: bold;
  font-size: 12px;
  border:1px solid #287781;
  height: 40px;
}

.exploreMoreBannerImg {
  width: 197px;
  height: 46px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.exploreMoreName {
   font-size: 24px;
 font-weight: 700;
  font-weight: bold;
  color: #424242;
  margin: 10px 0;
}

.exploreMoreRate span {
  font-weight: bold;
   font-size: 14px;
 font-weight: 700;
  color: #424242;
  padding: 5px 0px;
}

.bankexploreMoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;      
  text-decoration: none;      
  color: #fff;                
  background-color: #287781;  
  padding: 10px 20px;         
  border-radius: 8px;         
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease;  
  margin: 10px auto;   
  width: 100px;        
}

.bankexploreMoreBtn:hover {
  transform: scale(1.05);    
}


.exploreMoreNoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-x: auto;
}

.exploreMoreNote {
  white-space: nowrap;
  max-width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: #59898E33;
  color: #287781;
  padding: 15px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
  .exploreMoreCards {
    grid-template-columns: 1fr;
  }

  .exploreMoreCard{
    height: 300px;
  }

  .exploreMoreHeader {
 font-size: 24px;
}

.exploreMorePara {
  font-size: 12px;
}

.exploreMorePara span {
    font-size: 12px;
}

  .exploreMoreBannerImg {
    height: 100px;
  }
  
  .exploreMoreNote{
    display: none;
  }
}



/* footer         */




/* chatbot */




   