* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans';
}


.dashboardContainer {
  display: flex;
  min-height: 100vh;
}

/* sidebar */
.sideBar {
  width: 249px;
  background-color: #FAFAFA;
  color: #000;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  gap: 37px;
}

.sideBarContent {
  width: 217px;
  text-align: center;
}


.sideBar img {
  width: 66px;
  height: 56px;
  margin-bottom: 37px;
}

.sideBarNavs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  gap: 6px;
  text-decoration: none;
  color: #000;
  border-radius: 8px;
  transition: background 0.3s;
}

.sideBarNavs a {
  height: 40px;
  text-decoration: none;
  color:#424242;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s;
  font-weight: 600;
  font-size: 12px;
  display: flex;   
  align-items: center;
}

.sideBarNavs a svg {
 margin-right: 10px;
}

.sideBarNavs a.active {
  background: #287781;
  color:#fff;
}


.mobileTopBar {
  display: none;
  align-items: center;
  justify-content: space-between;
  background: #FAFAFA;
  padding: 10px 20px;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 1001;
}

.mobileTopBar img {
   width: 66px;
  height: 56px;
}

.mobile-menu-btn {
  font-size: 24px;
  padding: 8px 12px;
  background: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  display: none;
}


@media (max-width: 768px) {
  .dashboardContainer {
    flex-direction: column;
  }

  .sideBar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .sideBarContent {
  width: 100%;
   margin-top: 15%;
}

  .sideBar.active {
    transform: translateX(0);
  }

  .sideBar img {
  display: none;
}

  .dashboardElements {
    width: 100%;
  }

    .mobile-menu-btn {
    display: block;
  }
  
  .mobileTopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
  }

  .mobileTopBar img.userImg {
    margin-left: 300px;  
  }
  
}


/*  dropdown */
.userDropdown {
  position: relative;
  display: inline-block;
}

.userDropdown img.userImg {
   width: 58px;
  height: 58px;
  box-shadow: 0px 4px 4px 0px #0000001A;
  border-radius: 50%;  
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ddd;
}

.userDropdown .dropdownMenu {
  position: absolute;
  top: 110%; 
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.userDropdown .dropdownMenu a {
  padding: 10px 10px;
  text-decoration: none;
  color: #333;
  display: block;
  transition: background 0.2s;
  font-size: 16px;
  font-weight: 400;
}

.userDropdown .dropdownMenu a:hover {
  color:#287781;
  background: #59898E33;
}

.userDropdown.active .dropdownMenu {
  display: flex;
}


@media (min-width: 769px) {
  .dashboardHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 20px;
    background: #f8f8f8;
    border-bottom: 1px solid #eee;
  }
  
  .dashboardHeader-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .dashboardHeader .userImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
}


@media (max-width: 768px) {
  .mobileTopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    background: #fff;
    border-bottom: 1px solid #eee;
  }

  .mobileImgBtnWrapper {
    display: flex;
    align-items: center;
    gap: 1px; 
  }

  .mobileTopBar img.userImg {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mobileTopBar .dropdownMenu {
    top: 120%;
    right: 0;
    width: 160px;
  }
}


/* dashboard elements */

.dashboardElements {
  width: 100%;
  
}


/* dashboardHeader */


.dashboardHeader {
  width: 100%;
  height: 84px;
  background: #f9f9f9;   
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px;       
  box-shadow: 0px 4px 4px 0px #0000001A;
}

.dashboardHeader-left{
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color:#424242;
}

.dashboardHeader-right {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.dashboardHeader .contactUs {
  font-size: 16px;
  color: #424242;
  text-decoration: none;
  font-weight: 600;
}



@media (max-width: 768px) {
  .dashboardHeader {
    display: none;
  }

   .userImg {
  width: 58px;
  height: 58px;
  box-shadow: 0px 4px 4px 0px #0000001A;
  border-radius: 50%;  
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ddd;
  margin-right: 2px;
}
}


/* tabs */

.tabsContainer {
  width: 100%;
  margin: 30px auto;
  gap: 6px;
}


.tabBar {
  display: flex;
  justify-content: flex-start;
  gap: 9px;
  height:40px;
  width:305px;
  margin-left: 30px;
}

.tabBtn {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  color: #424242;;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  transition: background 0.3s, color 0.3s;
}

.tabBtn.active {
  background: #59898E33;
  color:#287781;
  font-weight: 600;
}

.tabBarDivider {
  width: 100%;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 1px solid #ddd;
}

.tabContent {
  display: none;
  padding: 20px;
  background: #fff;
}

.tabContent.active {
  display: block;
}


@media (max-width: 768px) {

  .tabBar {
  display: flex;
  justify-content: flex-start;
  gap: 9px;
  margin-left: 30px;
}


  .tabBtn {
    border-radius: 6px;
    text-align: center;
  }

  .tabBarDivider {
    display: none;
  }
}



/* dashboard tab */

.dashboardTabTopSection {
  padding: 16px;
  background: #fff;
}

.dashboardTabHeader {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #424242;
}

.dashboardSubHeader {
  font-size: 16px;
  font-weight: 400;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 30px;
}

.dashboardSearchFilterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.searchContainer {
  display: flex;
  gap: 8px;
  flex: 1;
  max-width: 700px;
  position: relative; /* make container relative for absolute positioning */
}

.searchContainer svg {
  position: absolute;
  top: 50%;
  left: 10px; 
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none; 
  fill: #287781; 
}

.dashboardSearchBox {
  flex: 1;
  padding: 8px 8px 8px 35px; 
  border-radius: 5px;
  border: 0.5px solid var(--Teal-05, #287781);
  font-size: 14px;
}

.dashboardSearchBtn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #287781;
  color: #fff;
  transition: background 0.3s ease;
  font-weight: 600;
  font-size: 12px;
  width: 81px;
  height: 35px;
}

.dashboardSearchBtn:hover {
  background: #1f5e63;
}


.filterBtn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #287781;
  color: #fff;
  transition: background 0.3s ease;
  font-weight: 600;
  font-size: 12px;
  width: 81px;
  height: 35px;
  display: flex;              
  align-items: center;     
  justify-content: center;
}

.dashboardtabBarDivider {
  width: 100%;
  border-top: 1px solid #ddd;
}


.dashboardFilterOptions {
  margin-top: 10px;
  background: #fff;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fiveFilters{
  display: flex;
  height: 62px;
}

.inputContainer{
  display: grid;
}

.filterOptionContainer{
  display: grid;
}

.dashboardFilterOptions label{
  font-size: 12px;
  font-weight: 600;
  color: #424242;
  margin-bottom: 10px;
}

.dashboardFilterOptions input{
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
  width: 150px;
  height: 33px;
  border: 0.5px solid var(--Teal-05, #287781);
  box-shadow: 0px 4px 15px 0px #292D320D;
}

.searchClearContainer {
  display: grid;
  gap: 10px;
  margin-left: 40px;
  text-wrap: nowrap;
  height: 62spx;
}

.filterSearchBtn{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #287781;
  color: #fff;
  transition: background 0.3s ease;
  font-weight: 600;
  font-size: 12px;
  width: 81px;
  padding: 10px;
}

.clearFilterBtn {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: 600;
  font-size: 12px;
  width: 81px;
  padding: 10px;
}


.filterOptionContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.customDropdown {
  position: relative;
}

.dropdownBtn {
    background: #fff;
  color: #424242;
  border: 0.5px solid #287781;
  border-radius: 8px;
  padding: 9px 28px;
  cursor: pointer;
   font-size: 12px;
  font-weight: 600;
  width: 150px;
  height: 34px;
}

.dropdownMenu {
  position: absolute;
  top: 110%;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  z-index: 10;
  text-align: center;
  width: 150px;
}

.dropdownMenu a {
  display: block;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

.dropdownMenu a:hover {
  background: #59898E33;
  color:#287781;
}

.customDropdown.open .dropdownMenu {
  display: block;
}



@media (max-width: 768px) {
  .dashboardSearchFilterContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .dashboardFilterOptions {
    flex-direction: column;
    display: grid;
  }

  .dashboardFilterOptions input {
    width: 100%;
  }

  .inputContainer{
    width: 100%;
  }

  .filterOptionContainer {
    width: 100%;
    margin: 8px 0;
    display: grid;
  }

  .dropdownBtn {
      width: 100%;
      font-size: 13px;
      padding: 8px;
}

.dropdownMenu {
  width: 100%;
}

  .dropdownMenu a {
    font-size: 13px;
    padding: 8px;
  }

  .searchClearContainer {
    margin-top: 20px ;
    display: flex;            
    justify-content: center;    
  }

  .searchContainer img{
    display: none;
}
}


/* counsellor-cards */
.counsellorCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 30px 20px;
}

.counsellorCard {
  background: #fff;
  border-radius: 12px;
  padding: 24px 22px;
  display: flex;
  flex-direction: column;
  height: 209px;
  border: 0.1px solid var(--LightTeal-05, #59898E);
  box-shadow: 0px 4px 4px 0px #0000001A;
}

.counsellorCard:hover{
box-shadow: 0px 4px 14.3px 0px #59898EAB;
transform: scale(1.02);
}

.counsellorTopLabel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.counsellorTopLeftCol {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 57px;
}

.counsellorImg {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  object-fit: cover;
}

.counsellorName {
  font-size: 12px;
  font-weight: 600;
  color:#424242;
  margin-bottom: 10px;
}

.counsellorRating {
  font-size: 10px;
  font-weight: 600;
  color:#424242;
  margin: 0;
    display: flex;
  align-items: center;
  gap: 2px;
}

.counsellorTopRightCol .counsellorInfoBox {
  background:#FCE5EC;
  border-radius: 63px;
  padding: 3px 22px;
  font-size: 10px;
  font-weight: 600;
  color:#911D56;
  width: 51px;
  height: 19px;
  display: flex;             
  align-items: center;        
  justify-content: center; 
}

.counsellorLocation{
  margin: 6px 0;
  font-size: 10px;
  font-weight: 400;
  color:#424242;
   display: flex;
  align-items: center;
  gap: 6px;
}

.counsellorExperience {
  margin: 6px 0;
  font-size: 10px;
  font-weight: 400;
  color:#424242;
   display: flex;
  align-items: center; 
  gap: 6px;
}

.counsellorBtnContainer {
  margin-top: auto;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.counsellorBtnContainer a {
  flex: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counsellorKnowMoreBtn {
  background: linear-gradient(90deg, #195057 0%, #4ED0E1 100%);
  color: #fff;
  flex: 1;
  padding: 10px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 6px;
  text-wrap: nowrap;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counsellorEnrollNowBtn {
  background: #fff;
  color: #287781;
  border: 0.5px solid #287781;
  flex: 1;
  padding: 10px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 6px;
  text-wrap: nowrap;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counsellorEnquireBtn {
  background: #fff;
  color: #287781;
  border: 0.5px solid #287781;
  flex: 1;
  padding: 10px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 6px;
  text-wrap: nowrap;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 992px) {
  .counsellorCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .counsellorCardContainer {
    grid-template-columns: 1fr;
  }
}


.viewMoreCounsellorContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewMoreCounsellorBtn{
  padding: 10px;
  border-radius: 10px;
  background-color: #287781;
  color: #fff;
  border:none;
  height: 40px;
  width: 120px;
}



/* enquire-To */

.enquireToTopSection {
  padding: 20px 20px;
  background: #fff;
}

.enquireToTopHeader {
  font-size: 24px;
  font-weight: 700;
  color: #424242;
  margin-bottom: 10px;
}

.enquireToTopSubHeader {
  font-size: 16px;
  font-weight: 400;
  color: #424242;
  margin-bottom: 30px;
}

.enquireToTopBox {
  background: #FAFAFA;
  border-radius: 20px;
  padding: 50px 50px;  
  box-shadow: 0px 4px 4px 0px #0000001A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 8px; 
}

.enquireToTopBoxHeader {
  font-size: 16px;
  font-weight: 700;
  color: #424242;
  text-align: center;
}

.enquireToTopBoxSubHeader {
  font-size: 12px;
  font-weight: 400;
  color: #424242;
  text-align: center;
}

.enquireToTopBoxBtn {
  width: 337px;
  height: 38px;
  background: linear-gradient(90deg, #195057 0%, #4ED0E1 100%);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center; 
  display: inline-block;
  margin: 15px auto 0 auto;
}


@media (max-width: 768px) {
  .enquireToTopHeader {
    font-size: 1.6rem;
  }

  .enquireToTopSubHeader {
    font-size: 1rem;
  }

  .enquireToTopBoxHeader {
    font-size: 1.2rem;
  }

  .enquireToTopBoxSubHeader {
    font-size: 0.95rem;
  }
}




/* enquiredTo - explorMore */

.testPrepExploreMore {
  padding: 20px 20px;
  margin-top: 20px;
}

.testPrepExploreMore-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #424242;
}

.testPrepExploreMore-para {
  font-size: 16px;
  font-weight: 400;
  color: #424242;
  margin-bottom: 30px;
}

.testPrepExploreMore-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  width: auto;
}

.testPrepExploreMore-card {
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 14px;
  display: flex;
  flex-direction: column;
  height: 315px;
}

.testPrepExploreMore-card:hover {
  transform: scale(1.02);
}

.testPrepExploreMore-card:nth-child(1){
  background-color: #E4F7FA;
}

.testPrepExploreMore-card:nth-child(2){
  background-color: #FDF0F4;
}

.testPrepExploreMore-card:nth-child(3){
  background-color: #FFF6E1;
}


.testPrepExploreMore-cardheading {
    font-size: 20px;
  font-weight: 700;
  margin-top: 31px;
  margin-bottom: 31px;
  color: #424242;
  text-wrap: nowrap;
}

.testPrepExploreMore-carddesc {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 400;
  color:#424242; 
  margin-bottom: 20px;
}

.takeMockTest-btn {
  background: linear-gradient(90deg, #195057 0%, #4ED0E1 100%);
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  font-weight: 600;
  transition: background 0.3s;
  width: 143px;
  height: 33px;
  text-wrap: nowrap;
}

.takeMockTest-btn:hover{
 transform: scale(1.05);
}

@media (max-width: 768px) {

  .testPrepExploreMore-heading {
  font-size: 16px; 
}

.testPrepExploreMore-para{
  font-size: 12px;
}

  .testPrepExploreMore-container {
    grid-template-columns: 1fr;
  }

.testPrepExploreMore-cardheading {
    font-size: 16px;
}

.testPrepExploreMore-carddesc {
   font-size: 12px;
}
}



/* popularExam */

.popularExamSection {
  padding: 20px 20px;
  background: #fff;
}

.popularExamHeader {
  font-size: 24px;
  font-weight: 700;
  color: #424242;
  margin-bottom: 8px;
}

.popularExamSubHeader {
  font-size: 16px;
  font-weight: 400;
  color: #424242;
  margin-bottom: 20px;
}

.popularExamContainer {
  display: flex;
  gap: 10px;
  overflow-x: auto;       
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
  max-width: 970px;
}

.popularExamContainer::-webkit-scrollbar {
  height: 6px;
}
.popularExamContainer::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.popularExamCard {
  max-width: 518px;
  height: 416px;
  border-radius: 16px;
  flex-shrink: 0;
  position: relative;
  padding: 12px;
  color: #fff;
  scroll-snap-align: start;
  display: flex;
  align-items: flex-end;  
}

.popularExamCard:nth-child(1) {
  background: url("/Palak/images/dashboard/testDashboard/toefl.jpg") center/cover no-repeat;
  overflow: hidden;
}

.popularExamCard:nth-child(2) {
  background: url("/Palak/images/dashboard/testDashboard/ielts.jpg") center/cover no-repeat;
}

.popularExamCard:nth-child(3) {
  background: url("/Palak/images/dashboard/testDashboard/gmat.jpg") center/cover no-repeat;
}


.popularExamCardContent {
  text-align: left;  
  width: 100%;
}

.bottomLeftHeader {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.bottomLeftSubHeader {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}


@media (max-width: 768px) {
  .popularExamCard {
    min-width: 160px;
    height: 400px;
  }

  .bottomLeftHeader {
    font-size: 16px;
  }

  .bottomLeftSubHeader {
    font-size: 12px;
  }
}




/* footer */


.footer {
    background-color: #092A2E;
    padding: 60px 2% 30px;
    color: #ffffff;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1320px;
    margin: 0 auto;
    height: auto;
}

.footer-logo {
    width: 120px;
    margin-bottom: 20px;
}

.footer-col {
    flex: 1;
    min-width: 200px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-about {
    flex: 2.5;
    max-width: none;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 31px;
}


.footer-about p {
    font-size: 16px;
    font-weight: 200;
    line-height: 100%;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer-col h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #ffffff;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 22px;
    color: #ffffff;
}

.footer-col p {
    font-size: 16px;
    font-weight: 200;
    line-height: 100%;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-col.contact-col {
    min-width: 300px;
    max-width: 350px;
}

.footer-col:not(.footer-about) {
    margin-left: -5px;
}

.footer-socials {
    display: flex;
    gap: 16px;
}

.footer-socials img {
    width: 48px;
    height: 48px;
}


.footer-line {
    border: none;
    border-top: 1px solid #ffffff44;
    margin: 40px auto 20px;
    width: 100%;
    max-width: 1300px;
}


.footer-bottom {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color: #ffffff;
}

.footer-right-columns {
    display: flex;
    gap: 40px;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-right-columns {
        flex-direction: column;
        margin-left: 0;
    }

    .footer-col {
        width: 100%;
        max-width: none;
    }
}

.footer-col ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 100%;
    transition: color 0.3s ease;
}

.footer-col ul li a:hover {
    color: #4ED0E1;
}

 