* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans';
}


/* navbar */


/* hero  */

.hero {
  position: relative;
  color: white;
  display: flex;
  margin: 60px auto 20px;
}

.hero-left-half {
  width: 50%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
 background: linear-gradient(89.07deg, rgba(0, 0, 0, 0.71) 36.56%, rgba(102, 102, 102, 0) 99.23%);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-route {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ccc;
}


.hero-mini-heading {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, #666666 100%);
  background-color: #FFFFFF1A;
  border-radius: 10px;
  padding: 10px;
  height: 44px;
  width: 400px;
  text-wrap: nowrap;
  margin-top: 20px;
}

.hero-mini-heading img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}


.hero-heading {
  font-size: 55px;
  font-weight: 700;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 60px;
}


.hero-para {
  font-size: 24px;
  line-height: 1.5;
  color: #FAFAFA;
  margin-bottom: 40px;
  font-weight: 400;
}


.hero-btn {
  background: linear-gradient(90deg, #195057 0%, #4ED0E1 100%);
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: 700;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn img{
   width: 10px;
  height: 10px;
  margin-left: 8px;
}


.hero-facts {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap; 
  margin-top: 40px;
  margin-bottom: 20px;
}

.fact-item {
  text-align: left;
  min-width: 120px;
}

.fact-top {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.fact-top img {
  width: 20px;
  height: 20px;
}

.fact-bottom {
  font-size: 14px;
  color: #ccc;
}

.desktop-only {
  display: block;
}
.mobile-only {
  display: none;
}



@media (max-width: 768px) {
   .hero {
    position: relative; 
    background-image: url('/Palak/images/bankdetails/herosection/hero-avail-banks.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    height: 374px;
    margin: 60px auto 20px ;
  }

  .hero-left-half {
    position: absolute; 
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    box-sizing: border-box;
     background: linear-gradient(89.07deg, rgba(0, 0, 0, 0.71) 36.56%, rgba(102, 102, 102, 0) 99.23%);
  }

 .hero-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  .hero-route{
    font-size: 10px;
    font-weight: 600;
    padding-top: 2%;
    margin-bottom: 4px;
  }

  .hero-mini-heading {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fafafa;
    background-color: #ffffff1a;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    font-size: 10px;
    font-weight: 500;
  }

  .hero-mini-heading img {
    height: 14px;
    width: auto;
  }

  .hero-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero-heading span {
     font-weight: bold;
    font-size: 24px;
    font-weight: 700;
  }

  .hero-para {
    width: 100%;
    line-height: 1.4;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
  }

  .hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    padding: 5px ;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    height: 30px;
    width: 50%;
    margin-bottom: 20px;
  }

  .hero-btn img {
    height: 12px;
    width: auto;
  }

   .hero-facts {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin-top: 1px;
    padding: 5px;
    border-radius: 6px;
    flex-wrap: nowrap; 
  }

  .fact-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
  }

  .fact-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 700;
  }

  .fact-top img {
    height: 16px;
    width: auto;
  }

  .fact-bottom {
    margin-top: 4px; 
    font-weight: 700;
    font-size: 12px;
    color:#fff;
  }

  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}



/* nbfc-section */

.nbfc-section {
  padding: 5% 5%;
  background-color: #fff;
}

.nbfc-heading {
  font-size: 34px;
  font-weight: bold;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #222;
}


.nbfc-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}


.nbfc-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
   box-shadow: 
    0 8px 15px rgba(0, 0, 0, 0.2),  
    0 4px 6px rgba(0, 0, 0, 0.1);

}


.nbfc-top-label-container{
background-color:#3FA0AC;
border-bottom: 1px solid #3FA0AC;
padding: 1.5rem;
}

.nbfc-top-label {
  color:#fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.nbfc-left-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nbfc-name {
  font-size: 24px;
  font-weight: 700;
  font-weight: bold;
}

.nbfc-amt {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nbfc-amt img {
  width: 19px;
  height: 15.2px;
}

.nbfc-amt .nbfc-value-label{
  font-size: 16px;
  font-weight: 400;
}

.nbfc-amt .nbfc-value{
  font-size: 16px;
  font-weight: bold;
  font-weight: 700;
}

.nbfc-right-col img {
  width: 100px;
  height: 32px;
   border-radius: 9px;
}


.nbfc-fee-time-label {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top:2%;
  margin-left:10%;
  margin-right:10%;
  padding: 12px 17px 12px 17px;
  width:auto;
  height: auto;
}

.nbfc-fee {
  background-color: #F6F6F6;
  flex: 1;
  margin-right: 2.5%;
  padding: 0.75rem 0.75rem;
}

.nbfc-tenure{
  background-color: #F6F6F6;
 flex: 1;
  margin-right: 2.5%;
  padding: 0.75rem 0.75rem;
}

.nbfc-fee-label,
.nbfc-tenure-label {
  font-weight: 600;
  font-size: 0.85rem;
  color: #555;
  
}

.nbfc-fee-value,
.nbfc-tenure-value {
  margin-top: 0.5rem;
  margin-bottom: 2.5%;
  font-size: 24px;
  font-weight: 700;
  font-weight: bold;
  margin-top: 0.25rem;
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}


.nbfc-features {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  gap:29px;
}

.nbfc-feature-heading {
  font-size: 24px;
  font-weight: 700;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 5%;
}

.nbfc-feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 5%;
}

.nbfc-feature-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 16px;
  font-weight: 400;
}

.nbfc-feature-list img {
  width: 24px;
  height: 16px;
}


.nbfc-btn {
  width: 90%;
  margin: 5% auto;
  background-color: #3FA0AC;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.nbfc-btn:hover {
  transform: scale(1.02);
}


@media (max-width: 768px) {
  .nbfc-grid {
    grid-template-columns: 1fr;
  }

  .nbfc-name {
  font-size: 16px;
}

.nbfc-amt .nbfc-value-label{
  font-size: 12px;
  font-weight: 400;
}

.nbfc-amt .nbfc-value{
  font-size: 12px;
}

  .nbfc-fee-value,
.nbfc-tenure-value {
  margin-top: 5%;
  font-size: 16px;
  font-weight: bold;
}

.nbfc-feature-list li {
  font-size: 12px;
}

}


/* intl-bank-section */

.intl-top-label-container{
background-color:	#D46C8E ;
border-bottom: 1px solid #D46C8E ;
padding: 1.5rem;
}

.intl-right-col img {
  width: 182px;
  height: 32px;
}

.intl-btn {
  width: 90%;
  margin: 5% auto;
  background-color: #D46C8E ;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.intl-btn:hover {
  transform: scale(1.02);
}


/* footer         */


 

/* Chatbot toggle button */

