* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'BuenosAires';
}



/* navbar */



/* hero  */

.hero {
  position: relative;
  color: white;
  display: flex;
  margin: 100px auto 0;
}

.hero-left-half {
  width: 50%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
 background: linear-gradient(89.07deg, rgba(0, 0, 0, 0.71) 36.56%, rgba(102, 102, 102, 0) 99.23%);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-route {
  font-size: 12px;
  font-weight: 700;
  margin: 20px auto 40px;
  color: #ccc;
}


.hero-mini-heading {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, #666666 100%);
  background-color: #FFFFFF1A;
  border-radius: 10px;
  padding: 10px;
  height: 44px;
  width: fit-content;
  text-wrap: nowrap;
  margin-top: 10px;
}

.hero-mini-heading img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}


.hero-heading {
  font-size: 55px;
  font-weight: 700;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 60px;
}


.hero-para {
  font-size: 24px;
  line-height: 1.5;
  color: #FAFAFA;
  margin-bottom: 20px;
  font-weight: 400;
}


.heroSearchBox {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  padding: 10px 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 600px;
  width: 100%;
  margin-top: 15px;
}

.heroSearchBox .searchIcon {
  width: 20px;
  height: 20px;
  color: #888;
  margin-right: 10px;
  flex-shrink: 0;
}

.heroSearchBox input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.heroSearchBox input::placeholder {
  color: #aaa;
  font-size: 14px;
}


.desktop-only {
  display: block;
}
.hero-box-mobile-only {
  display: none;
}



@media (max-width: 768px) {
   .hero {
    position: relative; 
     background-image: url('/Palak/images/universityFinder/hero/unifinderHeroMobile.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    height: 350px;
  }

  .hero-left-half {
    position: absolute; 
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    box-sizing: border-box;
     background: linear-gradient(89.07deg, rgba(0, 0, 0, 0.71) 36.56%, rgba(102, 102, 102, 0) 99.23%);
  }

  .hero-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  .hero-route{
    font-size: 10px;
    font-weight: 600;
    padding-top: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero-mini-heading {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fafafa;
    background-color: #ffffff1a;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    font-size: 10px;
    font-weight: 500;
    height: 30px;
    margin-top: 10px;
  }

  .hero-mini-heading img {
    height: 14px;
    width: auto;
  }

  .hero-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero-heading span {
     font-weight: bold;
    font-size: 24px;
    font-weight: 700;
  }

  .hero-para {
    width: 100%;
    line-height: 1.4;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
  }

  .desktop-only {
    display: none;
  }
  .hero-box-mobile-only {
    display: block;
  }

    .heroSearchBox {
    padding: 8px 12px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .heroSearchBox .searchIcon {
    width: 18px;
    height: 18px;
  }

  .heroSearchBox input {
    font-size: 12px;
  }

  .heroSearchBox input::placeholder {
    font-size: 12px;
  }
}



/* sidebar university */

.sideBarUniversityContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .sideBarUniversityContainer {
    flex-direction: column;
  }
  .sideBarFilter,
  .universityBoxListContainer {
    flex: 1 1 100%;
  }
}



/* sidebar */

.sideBarFilter {
  flex: 0 0 30%;
  background: #fff;
  border-radius: 20px;
  padding: 24px 21px;
  box-shadow: 0px 4px 13.3px 0px #00000021;
  height: fit-content;
}

.filterHeader {
  font-size: 24px;
  font-weight: 600;
  color: #424242;
  margin-top: 20px;
  margin-bottom: 25px;
}


.formLabel{
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
}

.collapsible-header {
  width: 100%;
  background: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 600;
  color: #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}


.collapsible.open .arrow {
  transform: rotate(180deg);
}


.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  position: relative;
  cursor: pointer;
}


.collapsible.open .collapsible-content {
  max-height: fit-content; 
}


.collapsible-content select {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-height: 100px;
  font-size: 14px;
}

.collapsible-option{
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

.collapsible-option:checked{
  background:#59898E33 !important;
  color: #287781 !important;
  appearance: none; 
}

.collapsible-option:hover{
  background:#59898E33;
  color: #287781;
}



@media (max-width: 768px) {
  .form-group {
    max-width: 100%;
  }

  #examFilter {
    font-size: 15px;
    min-height: 100px;
  }
}



.filter-buttons {
  display: grid;
  gap: 10px;
  margin-top: 25px;
}

.filterApplyBtn,
.filterClearFilterBtn {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0px 4px 15px 0px #292D320D;
  height: 35px;
}

.filterApplyBtn {
  background:#287781;
  color: #fff;
}
.filterClearFilterBtn {
  background: #fff;
  border: 0.1px solid #287781;
}



/* university */
.universityBoxListContainer {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}


.universityHeaderSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap; 
}

.farLeftHeader {
  font-size: 34px;
  font-weight: 700;
  color: #424242;
  margin: 0;
}

.farLeftSubHeader {
  font-size: 24px;
  font-weight: 400;
  color: #424242;
  margin: 10px 0 0;
}

.farRightTabBar {
  display: flex;
  gap: 10px;
  border-radius: 15px;
  padding: 8px 12px;
  box-shadow: 0px 4px 4px 0px #0000001A;
}

.tabBtn {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 600;
  font-size: 12px;
}

.tabBtn.active {
  background: linear-gradient(90deg, #195057 0%, #4ED0E1 100%);
  color: #fff;
}


/* content */
.universityTabContent > div {
  display: none;
}
.universityTabContent > div.active {
  display: block;
}


/* box view*/
.universityBoxTab {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  padding: 10px;
}

.universityBoxCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.universityBoxCard {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.universityBoxCard:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 16.7px 0px #59898E;
}

.universityBoxCardTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  border-bottom: 1px solid #eee;
  gap: 16px;
}

.universityFarLeftImg img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.universityFarRightHeader {
  flex: 1;
}

.universityHeader {
  font-size: 20px;
  font-weight: 700;
  color: #424242;
  line-height: 1.3;
}


.universityRankingInfoBox {
  background: #195057;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 16px;
  margin: 12px 16px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  width: fit-content;
}

.universityRankingInfoBox span {
  font-weight: 700;
}



.universityLocation {
  font-size: 12px;
  font-weight: 400;
  color: #424242;
  margin: 0 15px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.universityOverallScore,
.universityEmpl,
.universityGlobalEng,
.universitySust {
  font-size: 16px;
  font-weight: 700;
  color: #424242;
  margin: 0 15px 15px;
  gap: 5px;
}

.universityOverallScore span,
.universityEmpl span,
.universityGlobalEng span,
.universitySust span {
  color: #287781;
  font-size: 16px;
  font-weight: 600;
}


.universityDetailContainer {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 14px;
  gap:20px
}

.universityStudentBox,
.universityTuitionBox{
  background-color:#F6F6F6;
  height: 85px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 182px;
}

.universityStudentBoxHeader,
.universityTuitionBoxHeader{
  font-weight: 600;
  font-size: 12px;
  color: #424242;
}

.universityStudentBoxValue,
.universityTuitionBoxValue{
  font-weight: 700;
  font-size: 24px;
  color: #287781;
}


@media (max-width: 768px) {
  .universityBoxCardContainer {
    grid-template-columns: 1fr; 
  }
}



/* list view */
.universityListTab ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.universityListTab li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}

.universityListTable {
  width: 100%;
  overflow-x: auto; 
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.universityListTable table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

.universityListTable th{
  padding: 15px 10px;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px solid #e0e0e0;
}
 
.universityListTable td {
  padding: 16px 12px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #e0e0e0;
}

.universityListTable th {
  background: #287781;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  height: 65px;
}

.universityListTable tr{
  height: 65px;
  font-weight: 600;
  font-size: 12px;
}

.universityListTable tr:hover {
  background: #59898E33;
}

@media (max-width: 768px) {
  .universityListTable {
  width: 100%;
  max-height: 1000px; 
  overflow-x: auto;  
  overflow-y: auto; 
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.universityListTable table {
  width: 100%;
  min-width: 800px; 
  border-collapse: collapse;
  background: #fff;
}

.universityListTable th, 
.universityListTable td {
  padding: 12px 16px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
  white-space: nowrap;
}

.universityListTable th {
  height: 65px;
  background: #287781;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  position: sticky;
  top: 0; 
  z-index: 2;
}

.universityListTable tr:hover {
  background: #59898E33;
}

}




@media (max-width: 768px) {
  .universityHeaderSection {
    flex-direction: column;
    gap: 10px;
  }

  .farLeftHeader {
  font-size: 24px;
  text-align: center;
}

.farLeftSubHeader {
  font-size: 16px;
  text-align: center;
}

  .farRightTabBar {
    justify-content: center;
    margin-top: 20px;
  }

}



/* pagination */
.paginationContainer {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.pageBtn {
  background: #fff;
  border: 1px solid #287781;
  color: #287781;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
}
.pageBtn:hover {
  background: #287781;
  color: #fff;
}
.pageBtn.active {
  background: #287781;
  color: #fff;
}

.dots {
  padding: 6px 10px;
  color: #424242;
  font-weight: 700;
}





/* universityFactor-section */

.universityFactor-process {
  padding: 4rem 2rem;
  background: #41091F;
}

.universityFactor-process-header {
  margin-bottom: 5%;
}

.universityFactor-service-heading {
  font-size: 34px;
  font-weight: 700;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 30px;
   color:#fff;
   text-align: center;
}

.universityFactor-service-desc {
    font-size: 24px;
  font-weight: 400;
  color:#fff;
  text-align:center;
}


.universityFactor-process-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: space-between;
}

 .universityFactor-card {
  background-color: #41091F;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 3rem 2rem;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
  position: relative;
  overflow: hidden;
  text-align: left;
  animation: flashAnim 2.5s infinite linear;
  color: #fff;
}

.universityFactor-card::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.universityFactor-card:hover::before {
  animation: fullFlash 0.7s ease forwards;
}

@keyframes fullFlash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.universityFactor-service-card-header {
    margin-top: 10%;
opacity: 1;
  font-size: 24px;
  font-weight: bold;
  font-weight: 700;
  margin-bottom: 10%;
  color: #fff;
}

.universityFactor-service-card-desc {
font-size: 0.95rem;
  color: #fff;
opacity: 1;
margin-top: 20px;
font-size: 16px;
  font-weight: 400;
}


@media (max-width: 768px) {
  .universityFactor-process-cards {
    grid-template-columns: 1fr;
  }

  .universityFactor-card {
   height: 250px;
}

  .universityFactor-service-card-header {
    margin-top: 5%;
  margin-bottom: 5%;
}
} 



/* footer         */





/* Chatbot toggle button */


